.answer-question-section {
  max-width: 359px;
  min-width: 350px;
  min-height: 600px;
  padding: 1.5rem 1rem;
  background-color: aliceblue;
  border-radius: 15px;
  animation: fadeIn 0.8s ease;
  color: #333;
  display: flex;
}

.question-card {
  width: 100%;
  position: relative;
  flex: 1;
}

/* style questtion */
/* question number 1 */
.answers {
  list-style: none;
  margin-bottom: 20px;
  padding-left: 0px;
}

.answers li {
  margin-bottom: 10px;
}

/* Nút đáp án */
.answer-btn {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background: #f4f4f4;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  transition: 0.25s ease;
  text-align: left;
}

.answer-btn:hover {
  background: #e8f0ff;
  border-color: #7b9cff;
}

.image-question {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  margin-bottom: 1.5rem;
}
.question p {
  font-size: 16px;
  text-align: center;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* question number 2*/
